.main {
	padding: 0 24px 0 72px;
	margin-top: 15px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 5em;
}

.mainWrapper {
	width: 100%;
	position: relative;
}

.loaderPos {
	margin-left: 20%;
}

@media (max-width: 500px) {
	.loaderPos {
		margin-bottom: 70px;
	}
}
